@import "tailwindcss";
@plugin "tailwindcss-motion";
@plugin "flowbite-react/plugin/tailwindcss";

@source "../.flowbite-react/class-list.json";

* {
  @apply ring-offset-0 ring-0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  border: #cbcbcb;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}
/* Quil CSS End*/

.menubar::-webkit-scrollbar {
  background-color: transparent;
}
.menubar::-webkit-scrollbar-track {
  background-color: transparent;
}
.menubar::-webkit-scrollbar-thumb {
  background-color: #1a6218;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.outerheaderaccordion {
  border: 0px !important;
  border: 0px !important;
  border-style: hidden !important;
  border: none !important;
  outline: none !important;
  outline: 0px !important;
}

.headtitleaccordion {
  background-color: antiquewhite !important;
  color: #000000 !important;
  border: 0px !important;
  border-style: hidden !important;
  border: none !important;
  outline: none !important;
  outline: 0px !important;
}

.outerheaderaccordion:active {
  border: 0px !important;
  border-style: hidden !important;
  border: none !important;
  outline: none !important;
  outline: 0px !important;
}

.headtitleaccordion:active {
  border: 0px !important;
  border-style: hidden !important;
  border: none !important;
  outline: none !important;
  outline: 0px !important;
}

.bodyaccordioncontent {
  background-color: #ffffff !important;
}

* {
  font-family: "DMSans";
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}
h3 {
  font-size: 28px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 400;
}
@font-face {
  font-family: "DMSans";
  font-weight: 300;
  src: url(./assets/fonts/DM_Sans/static/DMSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 400;
  src: url(./assets/fonts/DM_Sans/static/DMSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 500;
  src: url(./assets/fonts/DM_Sans/static/DMSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 700;
  src: url(./assets/fonts/DM_Sans/static/DMSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 800;
  src: url(./assets/fonts/DM_Sans/static/DMSans-ExtraBold.ttf)
    format("truetype");
}
